.card-box {
    display: flex;
    padding-top: 100px;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-around;
    height: 1500px;
    background-color: rgb(249, 235, 148);
}

.card {
    width: 350px;
    height: 350;
    background-color: #ffffff;
    position: relative;
    box-shadow: 5px -5px 20px #807b79;
    border-radius: 20px;
    padding: 20px;
}

.card-image-wrapper {
    width: 100%;
    height: 180px;
}

.card-image-wrapper > img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.figure-box {
    height: 90vh;
    background-color: rgb(212, 238, 253);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.figure {
    padding: 20px;
    width: 300px;
}

.pink {
    background-color: pink;
    padding: 60px;
    order: 3;
}

.blue {
    background-color: rgb(153, 160, 235);
    order: 1;
    align-self: flex-end;
}

.orange {
    background-color: rgb(241, 178, 95);
    order: 2;
}

.green {
    background-color: rgb(172, 235, 148);
}
